
h4 {
  font-family: 'Acme', sans-serif;
  text-align: center;
}
h1 {
  font-family: 'Acme', sans-serif;
  font-weight: bold;
  
}
a1 {
  width: 300px;
  margin:auto
}
.card{
  border: solid 3px black ;
  border-radius: .5rem;
  display:flex;
  text-align: center;
  padding: 4px;
}

.button{
  font-size: 1.3rem;
  text-decoration:none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: .5rem;
  color: whitesmoke;
  border: none;
  outline: none;
  background-color: red;

}

.quote {
  display: flex;
  justify-content: center;
  font-family: 'Euphoria Script', cursive;
  font-size: 2rem;
  margin:auto;
}
.form-cards {
  font-family: 'Acme', sans-serif;
  font-size: 1.3rem;
  
}
.image{
 
  height: 250px;
  display: flex;
  margin:auto;
}

.hero{
  font-family: 'Acme', sans-serif;

}

.map {
  border: solid 3px black ;
  border-radius: .5rem;
  display:flex;
  height: 600px;
  margin:auto;
}